.terminal {
    position: absolute;
    font-family: var(--font-geist-mono);
    z-index: 2;
    transition: all 0.5s ease-out;
    text-align: center;
}

.fadeOut {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s ease-out;
}

.prompt {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    transform: translateY(0);
    transition: transform 0.5s ease-out;
}

.dollarSign {
    color: #00ff00;
}

.prompt::after {
    content: '█';
    animation: blink 1s step-end infinite;
}

.authenticationContainer {
    display: flex;
    font-family: var(--font-geist-mono);
    font-size: smaller;
    flex-direction: column;
    position: relative;
    margin-top: 0.5rem;
    height: 1.5em;
    overflow: hidden;
}

.message {
    position: absolute;
    left: 0;
    right: 0;
    animation: fadeInOut 0.5s ease-out forwards;
}

.messageOne,
.messageTwo,
.messageThree {
    opacity: 0;
    transform: translateY(-10px);
}

.messageOne {
    animation: slideDown 0.5s forwards;
}

.messageTwo {
    animation: slideDown 0.5s forwards;
    animation-delay: 0.7s;
}

.messageThree {
    animation: slideDown 0.5s forwards;
    animation-delay: 1.4s;
}

.message {
    animation: fadeInOut 0.5s ease-out forwards;
}

.content {
    opacity: 0;
    transform: scale(0.7);
}

.showContent {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease-out;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes slideUpFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
